<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bitcoin Poker Analytics</title>

<!-- Bootstrap Core CSS -->
    <link href="{% static "scripts/bootstrap.min.mod.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "scripts/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "scripts/sb-admin-2.css" %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static "scripts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static "scripts/examples.css" %}" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static "scripts/../scripts/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="{% static "scripts/jquery.mod.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "scripts/jquery.flot.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "scripts/jquery.flot.time.js" %}"></script>
    <script type="text/javascript">

    $(function() {

        {% if net %}
            var net = {{ net|safe }};
        {% else %}
            var net = [];
        {% endif %}

        function euroFormatter(v, axis) {
            return v.toFixed(axis.tickDecimals) + "€";
        }
        function doPlot(position) {
            $.plot("#placeholder", [
                { data: net }], 
                {xaxes: [ { mode: "time" } ],yaxes: [ {  }, {position: position } ] });
        }

        doPlot();
    });

    </script>
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" >
                <a class="navbar-brand-img" href="index.html">
                <img src="{% static "images/is mask gs color.png" %}">
              <!--  <img src = "../scripts/logos/color-black-00.png" onmouseover="this.src='../scripts/logos/color-blue-00.png';" onmouseout="this.src='../scripts/logos/color-black-00.png';" / > -->
              <!--Default: is mask gs monocolor inv.png --> 
              <!--Registered: is mask gs monocolor.png --> 
              <!--Paid 1: is mask gs monochrome.png --> 
              <!--Paid 2: is mask gs color.png --> 
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand-txt" href="index.html">
                Bitcoin Poker Analytics
                </a>
            </div>

            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> FAQ</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Support</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                            	<form class="form-inline" id="user_form" method="post" action="{% url 'index' %}">
                            		{% csrf_token %}
                                	<input type="text" class="form-control" placeholder="Search..." name="query" value="" id="query">
                                		<span class="input-group-btn" >
                                    		<button class="btn btn-default" type="submit" name="submit" value="Search">
                                        		<i class="fa fa-search"></i>
                                    		</button>
                                		</span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-bar-chart-o fa-fw"></i> Player Stats</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Player Net</a>
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Hand Histories<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Download Hand Histories</a>
                                </li>
                                <li>
                                    <a href="morris.html">Convert Hand Histories</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Buddy List<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Download Hand Histories</a>
                                </li>
                                <li>
                                    <a href="morris.html">Convert Hand Histories</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                   </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
				{% if net %}
	                <div class="row">
	                    <div class="col-lg-12">
	                    	<h1 class="page-header">{{ query }}'s profile</h1>
	                    </div>
                    </div>
              	    <!-- /.row -->
              	   	<div class="row">
              	    	<div class="demo-container">
				            <div id="placeholder" class="demo-placeholder"></div>
				        </div>
				    </div>
                {% else %}

				{% endif %}


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!--script src="../scripts/jquery.min.js"></script-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "scripts/bootstrap.min.js" %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "scripts/metisMenu.min.js" %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static "scripts/sb-admin-2.js" %}"></script>
</body>

</html>
