{% extends 'stats/base.html' %}
{% load staticfiles %}

{% block scripts1 %}

	<link href="{% static "scripts/examples.css" %}" rel="stylesheet" type="text/css">
    
{% endblock %}
 

{% block body %} 
<div class="row">
	<div class="col-lg-12">
		            <h4 class="page-header">	            	

		            </h4>
		        </div>
		    </div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                Top Winners
            </div>
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#win_day" data-toggle="tab">Past Day</a>
                    </li>
                    <li><a href="#win_week" data-toggle="tab">Past Week</a>
                    </li>
                    <li><a href="#win_month" data-toggle="tab">Past Month</a>
                    </li>
                    <li><a href="#win_year" data-toggle="tab">Past Year</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="win_day">
                      
                    </div>
                    <div class="tab-pane fade" id="win_week">
                      
                    </div>
                    <div class="tab-pane fade" id="win_month">
                       
                    </div>
                    <div class="tab-pane fade" id="win_year">
                      
                    </div>
                </div>

            </div>
   		</div>
   	</div>
    <div class="col-lg-6">
     	<div class="panel panel-red">
            <div class="panel-heading">
                Top Losers
            </div>
            <div class="panel-body">						                            

                 <ul class="nav nav-tabs">
                    <li class="active"><a href="#lose_day" data-toggle="tab">Past Day</a>
                    </li>
                    <li><a href="#lose_week" data-toggle="tab">Past Week</a>
                    </li>
                    <li><a href="#lose_month" data-toggle="tab">Past Month</a>
                    </li>
                    <li><a href="#lose_year" data-toggle="tab">Past Year</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="lose_day">
                     

                    </div>
                    <div class="tab-pane fade" id="lose_week">
                       

                    </div>
                    <div class="tab-pane fade" id="lose_month">
                       

                    </div>
                    <div class="tab-pane fade" id="lose_year">
                      
                    </div>
                </div>
            </div>
    	</div>
	</div>
<form class="input-group" id="selection_forms" method="post" action="{% url 'top' %}" >
		{% csrf_token %}

	    YOLO
	    <div class="col-lg-3">
	    <div class="form-control">	    
		{{ limit_form.as_p }}
		</div>


	    YOLO
	   
	</form>
</div>
</div>
{% endblock %}